/* start catalog */
.Catalog-header{
    background-image:url("../assets/catalog/background1.png"),url("../assets/catalog/bg.png") ;
    background-size: cover;
    width: 100%;
    height: 650px;
    color: white;
   
    
}


.Navlinks,.Catalog-text-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Catalog-text-header{
    flex-direction: column;
    justify-content: space-between;
}

.Navlinks{
    width: 700px;
}
.Catalog-HeaderContent{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#Catalog-View-Details-Button{
    width: 100px;
}
.Catalog-Container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Catalog-BarreDeFiltrage{
    align-items: center;
    width: 80%;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.Catlog-IconsCon{
    display: flex;
    width: 60%;
    justify-content: space-between;
    height: 200px;
}
.CatalogIcon{
    text-align: center;
    width: 15%;
    height: 100%;

}
.Catalog-ProprietiesFiltre{
    width: 20%;
}
.Catalog-PropretiesContainer{
    display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
.Catalog-proprety1{
    background-image: url("../assets/catalog/p1.png");
}
.Catalog-proprety2{
    background-image: url("../assets/catalog/p2.png");
}
.Catalog-proprety3{
    background-image: url("../assets/catalog/p3.png");
}
.Catalog-proprety4{
    background-image: url("../assets/catalog/p4.png");
}
.Catalog-proprety5{
    background-image: url("../assets/catalog/p5.png");
}
.Catalog-proprety6{
    background-image: url("../assets/catalog/p6.png");
}
.Catalog-Slides-bottom{
    display: flex;
}
.CP{
    background-size: cover;
}
@media only screen and (max-width: 600px) {    
    .Catalog-PropretiesContainer{
        grid-template-columns: auto ;
  gap: 6px;
  /* padding: 6px; */
    }
    .Catalog-SearchInmobile{
        width: 90%;
    }
    .Catalog-HideInMobile{
        display: none;
    }
    .Catalog-BarreDeFiltrage-ForMobile{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: start;
        width: 100%;
    }
}

/* end catalog */