/* start catalog */
.Navlinks{
    color: white;
}
.Catalog-header{
    background-image:url("../assets/catalog/background1.png"),url("../assets/catalog/bg.png") ;
    background-size: cover;
    width: 100%;
    height: 650px;
    color: white;
   
    
}
.catalog-Feat{
    border: none;
    background-color: white;
    width: 100px;
    FONT-SIZE: xx-small;
}
#catalog-AP{
    background-color: #FFF8F6;
    width: 100px;
    border-radius: 17px;
    FONT-SIZE: xx-small;
}

.Navlinks,.Catalog-text-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Catalog-text-header{
    flex-direction: column;
    justify-content: space-between;
}

.Navlinks{
    width: 700px;
}
.Catalog-HeaderContent{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#Catalog-View-Details-Button{
    width: 100px;
}
.Catalog-Container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Catalog-BarreDeFiltrage{
    margin-top: 100px;

    align-items: center;
    width: 80%;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.Catlog-IconsCon{
    display: flex;
    width: 60%;
    justify-content: space-between;
    height: max-content;
}
.CatalogIcon{
    text-align: center;
    width: 15%;
    height: 100%;

}
.Catalog-ProprietiesFiltre{
    width: 21%;
}

.Catalog-proprety1{
    background-image: url("../assets/catalog/p1.png");
}
.Catalog-proprety2{
    background-image: url("../assets/catalog/p2.png");
}
.Catalog-proprety3{
    background-image: url("../assets/catalog/p3.png");
}
.Catalog-proprety4{
    background-image: url("../assets/catalog/p4.png");
}
.Catalog-proprety5{
    background-image: url("../assets/catalog/p5.png");
}

.Catalog-proprety6{
    background-image: url("../assets/catalog/p6.png");
}
.Catalog-Slides-bottom{
    display: flex;
}
.catalog-desc{
    width: 90%;
    height: 90%;
    /* background-color: wheat; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.Catalog-desc-Contaner{
    border-radius: 10px;
    height: 30%;
    background-color: white;
}
.Catalog-desc-localisation , .Catalog-proprety-infos ,.Catalog-desc-infos ,.catalog-bed ,.catalog-shower , .catalog-space{
    display: flex;
    
}
.Catalog-desc-localisation img ,.Catalog-proprety-infos img{
    height: 20px;
}
.catalog-info{
    width: 100%;
    display: flex;
}
.Catalog-desc-infos{
    justify-content: space-between;
}
.CP{
    width: 300px;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Catalog-proprieties{
    width: 100%;
}
.active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .Catalog-Propreties{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
@media only screen and (min-width: 600px) {   
    .Catalog-justInmobile{
        display: none;
    }
    .Catalog-PropretiesContainer{
        
        display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
      padding: 10px;
    }
 }
@media only screen and (max-width: 600px) {   
    .catalog-bed ,.catalog-Shower , .catalog-space{
        justify-content: space-between;
        width: 19%;
        display: flex;
    } 
    .catalog-desc{
        width: 100%;
        height: 100%;
        /* background-color: wheat; */
        margin-bottom: 0px;

    
    }
    .Catalog-PropretiesContainer{
        grid-template-columns: auto ;
  gap: 6px;
  /* padding: 6px; */
    }
    .Catalog-SearchInmobile input{
        width: 90%;
        height: 20px;
        border-radius: 30px;
        /* box-shadow: #717171; */
    }
    .Catalog-SearchInmobile{
        width: 100%;
        display: flex;
        justify-content: start;
       
    }
    .Catalog-HideInMobile{
        display: none;
    }
    .Catalog-BarreDeFiltrage-ForMobile{
        margin-top: 64px;

        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: start;
        width: 100%;
    }
    .Catalog-desc-Contaner{
        display: flex;
        justify-content: space-between;
    }
    .Catalog-Slides-bottom{
        /* flex-wrap: wrap; */

    }
    .Catalog-desc-infos{
        flex-direction: column;
        
        width: 40%;
    }
    nav{
        display: none;
    }
    .Catlog-IconsCon{
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
    .CatalogIcon{
        width: 100%;
    }
    .Catalog-ProprietiesFiltre{
        display: none;
    }
    .Catalog-justInmobile{
        display: normal;
    }
    .Catalog-proprieties{
        display: flex;
      
    } 
    .Catalog-proprety-infos{
        display: flex;
        justify-content: space-between;


    }
    .Catalog-prix{
        text-align: end;
    }
    .Catalog-slideb img{
        width: 120px;
    }
    .CP{
        width: 100vw;
        height: 300px;
        margin-bottom: 30px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* end catalog */