



.contact_first_line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}
.contact_second_step{
    background-image: url(/assets/contact_img/Rectangle\ 3841.png);
    background-repeat: no-repeat;
  
    width: 40vw;
    height: 60vw;

    color: white;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5vw;
    border: 2px solid red;
    margin-left: 5vw;

}
.contact_second_step h2,p{
    margin-top: 2vw;
    margin-left: 2vw;
}

.contact_second_step_img{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 90%;
    margin-left:2vw;
}
.contact_media{
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
}
.contact_service{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact_service img{
    width: 25vw;
    height: 25vw;
}
.contact_our_service{
    width: 90vw;
    margin-top: 5vw;
    display: flex;
    justify-content:space-around;
    
}
.contact_our_service p{
    color: gray;
}
