*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid red;
}

.main1{
    width: 40vw;
    height: 25vw;
    border: 1px solid rgb(20, 36, 175);

}

.main1 img{
width: 40vw;
height: 20vw;
}
.catalogue{
   display: flex;
    justify-content: space-around;
}
.catalogue img{
    width:4vw;
    height: 4vw;
}