@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
/* start page contact */








/* end page contact */


/* testimonial start */

.container-testimonial{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.content-testimonial{
           display: grid;
            height: 1000px;
            padding: 10px;
            width: 100%;
            grid-template-columns: 1fr 1fr;
}


.testimonial{
    padding: 100px 0;
}
.img12{
    width: 100px;
    height: 100px;
    border-radius: 85%;
}

.testimonial {
       text-align: center;
       margin-bottom: 50px;
}
.testimonial .title-testimonial{
    font-size: 30px;
    font-weight: 600;
     
}
.item-testimonial{
    background-color:#E9E9E9;
    margin: 10px;
    border-radius: 20px;
    height: 300px;
    padding: 30px 30px;
    width: 85%;
    margin-inline: auto;
}

.item-testimonial img{
    
    margin-right: 60px;
    vertical-align: middle;
}
.item-testimonial .info{
    display: flex;
    align-items: center;
}
.item-testimonial .name{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-left: -50px;
}
.item-testimonial .job{
    color: #8D8D8D;
}
.item-testimonial p{
      margin-top: 20px;
}
.item-testimonial .rating{
    margin-left: 450px;
}

.galerie-testimonial{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.item-galerie{
       width: 85%;
       box-shadow: 10px 10px 5px rgb(167, 166, 166);
       border: 1px solid;
       margin-bottom: 100px;
       margin: 20px;
    }
.titre-test h2{
    margin-left: 600px;
}

.galerie-testimonial .img99{
    width: 200px;
    height: 200px;
    margin-left: 70px;
    border-radius: 20px;
}
.item-galerie .opacity{
    margin-left: 20px;
    margin-top: 10px;
}
.item-galerie .para2{
    margin-left: 30px;
    margin-top: 10px;
    
}
.item-galerie .info2{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Vector{
    margin-left: 350px;
}
.etoil{
    margin-left: 50px;
    margin-top: ;
    margin-bottom: ;
}
.etoil1{
    width: 20px;
}
.Vector1{
    margin-left: 350px;
}
.modif{
    background-color: #5D5DFF;
    height: 300px;
    padding: 40px;
    margin-left: 70px;
    margin-right: 70px;
}
.ccc{
   
}

/* testimonial end */
