<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/catalog.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>Catalog</title>
</head>
<body>
    <header>
        <nav>
            <img src="../assets/catalog/logo.png" alt="" srcset="">
            <div class="Navlinks">
                <a href="#" >Home</a >
                <a href="#" >Catalog</a >
                <a href="#" >Testimonials</a >
                <a href="#" >Contact Us</a >
            </div>
        </nav>
        <div class="HeaderContent">
            <h1>Catalog</h1>

            <div class="text-header">
               
                    <p>5Beds   2Baths  180 sqft</p>
                
                <p>$250/month</p>
                <input type="button" value="View Details" id="Catalog-View-Details-Button">
            </div>

        </div>

    </header>
    
</body>
</html>