<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/responsive.css">
    
   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    
    <title>Catalog</title>
</head>
<body>
    
    <header class="Catalog-header">
        <nav class="home-nav-white topnav">
            <img class="home-headerlogo" src="../assets/home/logo.png" alt="logo">

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="testimonial.html">Testimonial</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="home-register"><a href="register">Register</a></li>
            </ul>

            <div id="mobilemenu" class="homesmallnav">
                <i class="fa-solid fa-x home-close"></i>
                <div>
                    <a href="../index.html">Home</a>
                    <a href="catalog.html">Catalog</a>
                    <a href="testimonial.html">Testimonial</a>
                    <a href="contact.html">Contact</a>
                    <a href="login.html">Login</a>
                </div>
            </div>
            <i class="fa-solid fa-bars home-burger"></i>
        </nav>
        <div class="home-headercontainer">
            <h1 style="font-size: 2.5em;
            color: #edd3d3;
            margin-bottom: 20px;
            text-align: center;" >Catalogue</h1>
            <div style="    display: flex;
            flex-direction: column;
            align-items: center;">
                <p style=" margin: 5px 0;
            color: #ffffff;">5 Beds    2 Baths    180 sqft</p>
               <div class="Catalog-headerPriceContainer"><p style=" font-weight: bold;
            color: #27ae60;">250$</p><p>/month</p></div>
            </div>
            <div>
               <a href="details.html" style="display: inline-block;
               margin-top: 10px;
               text-decoration: none;
               background-color: #fae97c;
               color: black;
               padding: 10px 15px;
               border-radius: 5px;
               transition: background-color 0.3s; " class="catalog-viewDetails"> View Details </a>
            </div>
            
        </div>

    </header>
    <div class="Catalog-Container" >
        <h2>Why You Should Work With Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="Catlog-IconsCon">
            <div class="CatalogIcon" data-aos="flip-right" >
            <img src="../assets/catalog/Icon1.png" alt="" srcset="">
            <h4>Wide Range of Properties</h4>
            <p>We offer expert legal help for all related property
                items in Dubai.</p>
            </div>
            <div class="CatalogIcon" data-aos="flip-right">
                <img src="../assets/catalog/Icon1.png" alt="" srcset="">
                <h4>Wide Range of Properties</h4>
                <p>We offer expert legal help for all related property
                    items in Dubai.</p>
            </div>
            <div class="CatalogIcon" data-aos="flip-right">
                    <img src="../assets/catalog/Icon3.png" alt="" srcset="">
                    <h4>Wide Range of Properties</h4>
                    <p>We offer expert legal help for all related property
                        items in Dubai.</p>
            </div>
        </div>
        <div class="Catalog-BarreDeFiltrage Catalog-BarreDeFiltrage-ForMobile" data-aos="flip-down">
           <div class="Catalog-SearchInmobile">
            <label for="KeyWord" class="Catalog-HideInMobile">Enter Keyword</label>
            <input type="text" class="catalog-typeText" placeholder="Enter a key word" name="keyWord" style="margin-bottom: 30px;">
           </div>
           <div class="Catalog-HideInMobile">
            <label for="Status">Status</label>
            <select name="Status" id="">
                <option value="All Status">All Status</option>
            </select>
           </div>
           <div class="Catalog-HideInMobile">
            <label for="Type">Type</label>
            <select name="Type" id="">
                <option value="All Type">All Type</option>
            </select>
           </div>
           
           <button id="SearchButton" class="Catalog-HideInMobile">Search</button>

        </div>
        
        <h2 class="Catalog-HideInMobile" class="Catalog-Featuredbutton">Featured Properties</h2>
        <p class="Catalog-HideInMobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="Catalog-ProprietiesFiltre">
            <button id="catalog-AP">All propreties</button>
            <button class="catalog-Feat" class="Catalog-ForSalebutton">For Sale</button>
            <button class="catalog-Feat">For Rent</button>
            
        </div>
        
            <div class="Catalog-PropretiesContainer">
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton">For Sale</button>
                            <button class="Catalog-Featuredbutton">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton pub-button">For Sale</button>
                            <button class="Catalog-Featuredbutton pub-button">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton">For Sale</button>
                            <button class="Catalog-Featuredbutton">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton">For Sale</button>
                            <button class="Catalog-Featuredbutton">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton">For Sale</button>
                            <button class="Catalog-Featuredbutton">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Catalog-proprety1 CP " data-aos="flip-up">
                    <div class="catalog-info">
                        
                    </div>
                    <div class="catalog-desc">
                        <div>
                            <button class="Catalog-ForSalebutton">For Sale</button>
                            <button class="Catalog-Featuredbutton">Featured</button>
                        </div>
                        <div class="Catalog-desc-Contaner">
                           <div class="Catalog-desc-Upper">
                            <h4><a href="details.html">Luxury Family Home</a></h4>
                            <div class="Catalog-desc-localisation">
                                <img src="../assets/catalog/LocalisationIcon.png" alt="">
                                <p>1800-1818 79th St</p>
                            </div>
                           </div>
                            <div class="Catalog-desc-infos">
                                <p class="Catalog-prix">$395,000</p>
                                <div class="Catalog-proprety-infos">
                                    <div class="catalog-bed">
                                        <img src="../assets/catalog/bed.png" alt="">
                                        <p>4</p>
                                    </div>  
                                    <div class="catalog-Shower">
                                        <img src="../assets/catalog/Shower.png" alt="">
                                        <p>1</p>
                                    </div>
                                    <div class="catalog-space">
                                        <img src="../assets/catalog/space.png" alt="">
                                        <p>4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ShowedInClick">
                    <div class="Catalog-proprety6 CP " data-aos="flip-up">
                        <div class="catalog-info"></div>
                        <div class="catalog-desc">
                            <div>
                                <button class="Catalog-ForSalebutton">For Sale</button>
                                <button class="Catalog-Featuredbutton">Featured</button>
                            </div>
                            <div class="Catalog-desc-Contaner">
                                <h4><a href="details.html">Luxury Family Home</a></h4>
                                <div class="Catalog-desc-localisation">
                                    <img src="../assets/catalog/IconLocalisation.png" alt="">
                                    <p>1800-1818 79th St</p>
                                </div>
                                <div class="Catalog-desc-infos">
                                    <p class="Catalog-prix">$395,000</p>
                                    <div class="Catalog-proprety-infos">
                                        <div class="catalog-bed">
                                            <img src="../assets/catalog/bed.png" alt="">
                                            <p>4</p>
                                        </div>  
                                        <div class="catalog-Shower">
                                            <img src="../assets/catalog/Shower.png" alt="">
                                            <p>1</p>
                                        </div>
                                        <div class="catalog-space">
                                            <img src="../assets/catalog/space.png" alt="">
                                            <p>4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <button onclick="ShowLess()" id="Catalog-seeless">See less Listing -></button>
            <button onclick="ShowAll()" id="Catalog-seeAll">See All Listing -></button>
        <div class="Catalog-justInmobile">
            <P>
                Recommended properties
            ------ View All</p>
            <div class="Catalog-proprieties">
                <div class="Catalog-rp">
                    <img src="../assets/catalog/rp1.png" alt="">
                    <div class="Catalog-RP-desc">
                        <p>Saadiyat reserve</p>
                        <p>Abu Dhabi</p>
                        <div class="Catalog-RP-info">
                            <p>600 to 1,400 SQM</p>
                            <div class="Catalog-RP-date">
                               <div> <img src="../assets/catalog/key.png" alt=""></div>
                            <p>Jan - 2022</p>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="Catalog-rp">
                    <img src="../assets/catalog/rp1.png" alt="">
                    <div class="Catalog-RP-desc">
                        <p>Saadiyat reserve</p>
                        <p>Abu Dhabi</p>
                        <div class="Catalog-RP-info">
                            <p>600 to 1,400 SQM</p>
                            <div class="Catalog-RP-date">
                               <div> <img src="../assets/catalog/key.png" alt=""></div>
                            <p>Jan - 2022</p>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>
            <button>view more</button>
        </div>
        <div class="Catalog-Propreties">
            <h2>Find Properties in These Cities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="Catalog-Slides-bottom">
                <div  class="Catalog-slideb fade"><img src="../assets/catalog/c1.png" alt=""></div>
                <div  class="Catalog-slideb fade"><img src="../assets/catalog/c2.png" alt=""></div>
                <div  class="Catalog-slideb fade"><img src="../assets/catalog/c3.png" alt=""></div>
                <div  class="Catalog-slideb fade"><img src="../assets/catalog/c4.png" alt=""></div>
                <div  class="Catalog-slideb fade"><img src="../assets/catalog/c5.png" alt=""></div>
                <div  class="Catalog-slideb fade resize"><img src="../assets/catalog/c6.jpg" alt=""></div>
                <div  class="Catalog-slideb fade resize"><img src="../assets/catalog/c7.jpg" alt=""></div>
                <div  class="Catalog-slideb fade resize"><img src="../assets/catalog/c8.jpg" alt=""></div>
                <div  class="Catalog-slideb fade resize"><img src="../assets/catalog/c9.jpg" alt=""></div>
            </div>
            <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a> -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
              </div>
        </div>

    </div>
    <footer>
        <div class="footerContainer">
            <div class="left">
                <p class="Logo">
                    ImmoView
                </p>
                <p class="LogoDescription">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
            </div>
            <div class="right">
                <div class="linksContainer">
                    <p class="title">Company</p>
                    <p>
                        <a href="">About Us</a>
                    </p>
                    <p>
                       <a href=""> Blog</a>
                    </p>
                    <p>
                       <a href=""> FAQs</a>
                    </p>
                    <p>
                       <a href=""> Press</a>
                    </p>
                </div>
                
                <div class="linksContainer">
                    <p class="title">Support</p>
                    <p>
                        <a href="">Help</a>
                    </p>
                    <p>
                       <a href=""> Contact</a>
                    </p>
                    <p>
                       <a href=""> Chat</a>
                    </p>
                    <p>
                       <a href=""> Terms</a>
                    </p>
                </div>
                <div class="linksContainer">
                    <p class="title">Products</p>
                    <p>
                        <a href=""> Features</a>
                    </p>
                    <p>
                       <a href=""> Pricing</a>
                    </p>
                    <p>
                       <a href=""> Integrations</a>
                    </p>
                    <p>
                       <a href=""> Demo</a>
                    </p>
                </div>
                <div class="linksContainer">
                    <p class="title">Social</p>
                    <p>
                        <a href="">LinkedIn</a>
                    </p>
                    <p>
                       <a href=""> Facebook</a>
                    </p>
                    <p>
                       <a href=""> Twitter</a>
                    </p>
                    <p>
                       <a href=""> Intagram</a>
                    </p>
                </div>
            </div>
        </div>
        <p class="Copyright">© All Rights are reserved</p>
    </footer>
   
    <script src="https://kit.fontawesome.com/3183b49327.js" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
      <script src="../js/slide.js"></script>
      <script src="../js/burgermenu.js"></script>
</body>
</html>