<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <div>
        <h1>Contact Us</h1>
        <p>Any question or remarks? Just write us a message!</p>
    </div>

    <div>
        <h2>Contact Information</h2>
        <p>Say something to start a live chat!</p>
        
    </div>
    <div>
        <p><img src="/assets/contact_img/phone_in_talk_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">+212 808 878867</p>
        <p><img src="/assets/contact_img/mail_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">ImmoView@gmail.com</p>
        <p><img src="/assets/contact_img/location_on_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">Naouras Residence, Boulevard Ibn <br> Abdellah, new town, Safi, Morocco</p>
    </div>
    <div>
      <h2>Our Social Media :</h2>
      <div>
        <img src="/assets/contact_img/twitter.png">
        <img src="/assets/contact_img/instagram.png">
        <img src="/assets/contact_img/discord.png">
      </div>
    </div>
    
    <div>
        <label for="fname">First Name</label><br>
        <input type="text"><br>
        <label for="fname">Last Name</label><br>
        <input type="text"><br>

        <label for="email">Email</label><br>
        <input type="email"><br>
        <label for="phone">Phone Number</label><br>
        <input type="tel"><br>

        <label for="select">Select Subject?</label><br>
        <input type="checkbox">General Inquiry 
        <input type="checkbox">Make an appointment 
        <input type="checkbox">Customer complaint <br>
          
        <label for="message">Message</label><br>
        <input type="text"><br>

        <input type="button" value="Send Message">
        
    </div>
    <!-- Maps  -->
    <div>
        

    </div>

<!-- Our Services -->

 <div>
    <h2>Our Services</h2>
    <p>We are here for your comfort first and your satisfaction second.</p>
 </div>

</body>
</html>