<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>ImoView details</title>
</head>
<body>
    <header class="Details_header">
        <nav class="home-nav-dark topnav">
            <img class="home-headerlogo" src="./../assets/home/logo.png" alt="logo de site web">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./catalog.html">Catalog</a></li>
                <li><a href="./testimonial.html">Testimonial</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="home-register"><a href="./register">Register</a></li>
            </ul>
        </nav>
    </header>
    <div class="Details_container">

        <section class="Details_main1">
            <img id="grand_image1" src="../assets/Details/home3.jpg" alt=" a home of peoble">
            <div class="Details_catalogue Detais_hideINmobile">
                <img id="cata_image1" src="../assets/Details/cataloque1.jpg" alt="a home of peoble"  onclick="changerImage('../assets/Details/cataloque1.jpg')">
                <img id="cata_image2" src="../assets/Details/cataloque2.jpg" alt="a home of peoble"  onclick="changerImage('../assets/Details/cataloque2.jpg')">
                <img id="cata_image3" src="../assets/Details/cataloque3.jpg" alt="a home of peoble"  onclick="changerImage('../assets/Details/cataloque3.jpg')">
                <img id="cata_image4" src="../assets/Details/cataloque4.jpg" alt="a home of peoble"  onclick="changerImage('../assets/Details/cataloque4.jpg')">
                <img id="cata_image5" src="../assets/Details/cataloque6.jpg" alt="a home of peoble"  onclick="changerImage('../assets/Details/cataloque5.jpg')">
            </div>
        </section>
        <section class="Details_main2">
            <div>
                <div class="Details_BienTitle">
                    <h3>Marrakech I Palmeraie </h3>
                    <button class="btn_share-details">
                        <i class="fa-solid fa-arrow-up-from-bracket"></i>Share
                    </button>                    
                </div>
                <div class="Details-title-Icons">
                    <img src="../assets/Details/Home.png" alt="a home of peoble">
                    <label for="">Residence</label>
                    <img src="../assets/Details/Star 1.png" alt="a home of peoble">
                    <label for="">4.5 Review</label>  
                    <img src="../assets/Details/icons8-location-50.png" alt="a home of peoble">
                    <label>Al Merkadh (MBR City),Dubai</label>  
                </div>
                <div class="Details_overview">
                    <label for="">Oberview</label>
                </div>
                <div class="Details_ComposationIcons">
                    <div>
                        <img src="../assets/Details/bedroom.png" alt="a home of peoble">
                        <label for=""> 3 BedRooms</label>
                    </div>
                    <div>
                        <img src="../assets/Details/bathroom.png" alt="a home of peoble">
                        <label for=""> 3 BathRooms</label>
                    </div>
                    <div>
                        <img src="../assets/Details/car.png" alt="a home of peoble">
                        <label for=""> 3 Car Garages</label>
                    </div>
                  
                    <div>
                        <img src="../assets/Details/2house.png" alt="a home of peoble">
                        <label for=""> 100 yards</label>
                    </div>
                    <div>
                        <img src="../assets/Details/chaise (2).png" alt="a home of peoble">
                        <label for=""> All fourniture</label>
                    </div>
                </div>

                <div>
                    <h3>Description</h3>
                    <p class="Details_description">Au sein d'un prestigieux domaine sécurisé, ce palais d'architecture
                        contemporaine marocaine se développe sur ± 2.900 m² de plain Passé un hall d'entrée,
                         on accède aux pièces de vie, dont plusieurs
                        salons avec des ambiances variées, un coin télé, une bibliothèque 
                       et une spacieuse salle à manger donnant sur une vaste terrasse agrémentée 
                       d'une cheminée. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, 
                       perspiciatis eaque.
                    </p>
                </div>

          
            </div> 
        </section>
        <div class="Details_main3" >
            <form >
                <label for="username">Uesername</label>
                <input type="text" id="username" placeholder="Enter username">
                <label for="username">phone number</label>
                <input type="text" id="phone" placeholder="+212">
                <label for="username">e-mail</label>
                <input type="text"id="email" placeholder="email@mail.com">
                <label for="username">message</label>
                <input type="text" id="text_de_message" placeholder="Message ">
                <input type="button" id="button_de_soumettre" value="Soumettre" >
        </form>
        </div>
        <form class="Details_main4">
            <div >
                <section class="Detais_Bien">
                    <div>
                        <label>Adress</label>
                    </div>
                    <div class="Details_position">
                        <label><b>Qauntry :</b>maroc</label>
                        <label><b>state :</b>kech-safi</label>
                        <label><b>City :</b>safi</label>
                    </div>
                   
                    <div class="Details_Grid">
                       <label>Details</label>
                       <div class="Detais_Adress">
                        <div>
                            <label>Property Id :5545</label>
                            <label>Price  :5545</label>
                            <label>Property size :5545</label>
                            <label>Land Area  :5545 m</label>
                        </div>
                        <div>
                            <label>bathrooms  :5</label>
                            <label>Year Built  :5</label>
                            <label>Bedromms  :3</label>
                            <label>Property Type  :Residance</label>
                        </div>
                      
                    </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="left">
                <p class="Logo">
                    ImmoView
                </p>
                <p class="LogoDescription">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
            </div>
            <div class="right">
                <div class="linksContainer">
                    <p class="title">Company</p>
                    <p>
                        <a href="">About Us</a>
                    </p>
                    <p>
                       <a href=""> Blog</a>
                    </p>
                    <p>
                       <a href=""> FAQs</a>
                    </p>
                    <p>
                       <a href=""> Press</a>
                    </p>
                </div>
                
                <div class="linksContainer">
                    <p class="title">Support</p>
                    <p>
                        <a href="">Help</a>
                    </p>
                    <p>
                       <a href=""> Contact</a>
                    </p>
                    <p>
                       <a href=""> Chat</a>
                    </p>
                    <p>
                       <a href=""> Terms</a>
                    </p>
                </div>
                <div class="linksContainer">
                    <p class="title">Products</p>
                    <p>
                        <a href=""> Features</a>
                    </p>
                    <p>
                       <a href=""> Pricing</a>
                    </p>
                    <p>
                       <a href=""> Integrations</a>
                    </p>
                    <p>
                       <a href=""> Demo</a>
                    </p>
                </div>
                <div class="linksContainer">
                    <p class="title">Social</p>
                    <p>
                        <a href="">LinkedIn</a>
                    </p>
                    <p>
                       <a href=""> Facebook</a>
                    </p>
                    <p>
                       <a href=""> Twitter</a>
                    </p>
                    <p>
                       <a href=""> Intagram</a>
                    </p>
                </div>
            </div>
        </div>
        <p class="Copyright">© All Rights are reserved</p>
    </footer>
</body>
<script src="../js/slide.js" ></script>

</html>