<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>Document</title>
</head>
<body>
    <div class="Details_container">
        <div class="Details_main1">
            <img src="../assets/Details/home3.jpg" alt="">
            <div class="Details_catalogue">
                <img src="../assets/Details/home5.jpg" alt="">
                <img src="../assets/Details/home4.jpg" alt="">
                <img src="../assets/Details/home4.jpg" alt="">
                <img src="../assets/Details/home4.jpg" alt="">
                <img src="../assets/Details/home1.jpg" alt="">
            </div>
        </div>
        <form class="Details_main2">
            <!-- <div class="Details_FormHead">
            <h3>Marrakech I Palmeraie </h3>
            <input type="button" value="Share">
            </div>
            <div class="Details_BienInfos"> -->
                <!-- <img src="../assets/Details/Home.png" alt="">
                <label for="">Residence</label>
                <img src="../assets/Details/Star 1.png" alt="">
                <label for="">4.5 Review</label>
                <img src="../assets/Details/icons8-location-50.png" alt=""> -->
                <!-- <p>Al Merkadh (MBR City),Dubai</p>
            </div>
            <div></div>
            <div></div> -->
        </form>
        <div class="Details_main3">
            <form>
                <label for="username">Uesername</label>
                <input type="text" placeholder="Enter username">
                <label for="username">phone number</label>
                <input type="text" placeholder="Enter username">
                <label for="username">e-mail</label>
                <input type="text" placeholder="Enter username">
                <label for="username">message</label>
                <input type="text" placeholder="Enter username">
                <input type="button" value="Soumettre">
        </form>
        </div>
        <form class="Details_main4">
            <!-- <div>
                <label>Adress</label>
            </div>
            <div>
                <label><b>Qauntry :</b>maroc</label>
            </div>
            <div>
                <label><b>City :</b>safi</label>
            </div>
            <div>
                <label><b>state :</b>kech-safi</label>
            </div>
            <div>
               <label>Details</label>
            </div>
            <div class="Detais_Adress">
                <label>Property Id :5545</label>
                <label>Price  :5545</label>
                <label>Property size :5545</label>
                <label>Land Area  :5545 m</label>
                <label>Bedromms  :3</label>
                <label>bathrooms  :5</label>
                <label>Year Built  :5</label>
                <label>Property Type  :5</label>
                <label>Residance  :5</label>
            </div> -->
        </form>
    </div>
</body>
</html>