<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmoView | Home</title>
    <link rel="stylesheet" href="./../css/global.css">
</head>
<body>
    <header class="home-header">
        <nav class="home-nav-white topnav">
            <img class="home-headerlogo" src="./../assets/home/logo.png" alt="logo">

            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./catalog.html">Catalog</a></li>
                <li><a href="./testimonial.html">Testimonial</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="home-register"><a href="./register">Register</a></li>
            </ul>
        </nav>
        <div class="home-headercontainer">
            <h1 class="home-headertitle">Find your dream Home</h1>
            <p class="home-headerdesc">we understand the fact that modern people strive for maximum comfort.</p>
            <section class="home-searchbox">
                <div>
                    <label for="location">Location</label>
                    <input type="text" placeholder="Enter your location" id="location">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" placeholder="Enter your location" id="location">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" placeholder="Enter your location" id="location">
                </div>
                <div class="home-searchbtn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </section>
        </div>
    </header>

    <section class="home-statistics">
        <div>
            <div class="home-item">
                <h1>128<span>K</span></h1>
                <p>Renters</p>
            </div>
            <div class="home-item">
                <h1>300<span>+</span></h1>
                <p>Specialists</p>
            </div>
            <div class="home-item">
                <h1>78<span>%</span></h1>
                <p>Yearly Growth</p>
            </div>
            <div class="home-item">
                <h1>10<span>K+</span></h1>
                <p>Properties</p>
            </div>
        </div>
    </section>

    <section class="home-mission">
        <h1>Our mission</h1>
        <p>At Immoview, our mission is to make finding your dream property a seamless and enjoyable experience. We are committed to providing accurate, up-to-date listings and personalized support, ensuring that you have all the information and guidance you need to make confident real estate decisions. Whether you’re buying, selling, or renting, our goal is to connect you with the perfect property that meets your needs and aspirations.</p>
    </section>

    <div class="home-line"></div>

    <script src="https://kit.fontawesome.com/3183b49327.js" crossorigin="anonymous"></script>
</body>
</html>