<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmoView | Home</title>
    <link rel="stylesheet" href="./../css/global.css">
</head>
<body>
    <header class="header">
        <nav class="home-nav-white">
            <img class="home-headerlogo" src="./../assets/home/logo.png" alt="logo">

            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./catalog.html">Catalog</a></li>
                <li><a href="./testimonial.html">Testimonial</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="home-register"><a href="./register">Register</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>