<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="icon" href="path/to/your/favicon.ico" type="image/x-icon">
    <title>Témoignages</title>
    <!-- font family poppins -->
   
</head>
<body>
     <!-- start header-->
                   
     <header>
        <div class="navbar">
            <div class="logo"> <a href="#"> <img src="../assets/testimonial/Blue_and_White_Real_Estate_Logo-removebg-preview.png" alt=""> </a></div>
            <ul class="link">

               <li><a href="#">Home</a></li>
               <li><a href="#">Catalog</a></li>
               <li><a href="#">Testimonials</a></li>
               <li><a href="#">Contact us</a></li>
            </ul>
            <div class="bars"><a href=""><img src="../assets/testimonial/Menu Button.png" alt=""></a></div>
        </div>
     </header>




          <!-- end  header-->

<!-- start reviews -->
       <section class="media">
        <div class="container-testimonial">
            <div class="testimonial">
                <h2 class="title-testimonial">Découvrez le Potentiel Inexploré du Marché Immobilier : <br>
                    Tendances et Opportunités</h2>
            </div>
            <div class="content-testimonial">
                        <div class="item-testimonial">
                            <div class="rating">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info">
                                <img src="../assets/testimonial/pexels-anastasia-shuraeva-4236828.jpg" alt="" class="img12">
                                <div class="text">
                                    <h3 class="name">Cameron Williamson</h3>
                                    <span class="job">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit amet
                             consectetur adipisicing elit. Officia, sint.</p>
                           
                        </div>
                        <div class="item-testimonial">
                            <div class="rating">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info">
                                <img src="../assets/testimonial/pexels-anastasia-shuraeva-5704849.jpg" alt="" class="img12">
                                <div class="text">
                                    <h3 class="name">Cameron Williamson</h3>
                                    <span class="job">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit, 
                            amet consectetur adipisicing elit. Sapiente, veritatis?</p>
                            
                        </div>
                        <div class="item-testimonial">
                            <div class="rating">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info">
                                <img src="../assets/testimonial/pexels-darina-belonogova-7897404.jpg" alt="" class="img12">
                                <div class="text">
                                    <h3 class="name">Cameron Williamson</h3>
                                    <span class="job">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit amet, consectetur
                             adipisicing elit. Dolorum, beatae.</p>
                            
                        </div>
                        <div class="item-testimonial">
                            <div class="rating">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info">
                                <img src="../assets/testimonial/pexels-enginakyurt-1642228.jpg" alt="" class="img12">
                                <div class="text">
                                    <h3 class="name">Cameron Williamson</h3>
                                    <span class="job">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro,Lorem ipsum dolor sit amet 
                            consectetur, adipisicing elit. A, sapiente.</p>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
           
         </section> 
                    <!-- end reviews -->


             <section>
                <div class="galerie">
                    <div class="titre-test">
                            <h2>Galerie de clients satisfaits</h2>
                    </div>
                    <div class="galerie-testimonial">
                        <div class="iem-galerie">
                            <div>
                                <img src="../assets/testimonial/Frame 18.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
             </section>


</body>
</html>