<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/testimonial.css">
    <link rel="icon" href="path/to/your/favicon.ico" type="image/x-icon">
    <title>Témoignages</title>
    <!-- font family poppins -->
   
</head>
<body>
     <!-- start header-->
                   
     <header class="home-testimonial">
        <nav class="home-nav-white topnav">
            <img class="home-headerlogo" src="./../assets/home/logo.png" alt="logo">

            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./catalog.html">Catalog</a></li>
                <li><a href="./testimonial.html">Testimonial</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li class="home-register"><a href="./register">Register</a></li>
            </ul>
        </nav>
        <div class="h2p-testimonial">
            <div class="h1-testimonial">
                <h1>Find your dream Home</h1>
           </div>
           <div class="p-testimonila">
             <p>we understand the fact that modern people strive for <br>
                 maximum comfort.</p>
           </div>
        </div>
     </header>




          <!-- end  header-->

<!-- start reviews -->
       <section class="media">
        <div class="container-testimonial">
            <div class="testimonial">
                <h2 class="title-testimonial">Découvrez le Potentiel Inexploré du Marché Immobilier : <br>
                    Tendances et Opportunités</h2>
            </div>
            <div class="content-testimonial">
                        <div class="item-testimonial">
                            <div class="rating-testimonila">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info-testimonail">
                                <img src="../assets/testimonial/pexels-anastasia-shuraeva-4236828.jpg" alt="" class="img12">
                                <div class="text-testimonila">
                                    <h3 class="name-testimonila">Cameron Williamson</h3>
                                    <span class="job-testimonila">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit amet
                             consectetur adipisicing elit. Officia, sint.</p>
                           
                        </div>
                        <div class="item-testimonial">
                            <div class="rating-testimonila">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info-testimonail">
                                <img src="../assets/testimonial/pexels-anastasia-shuraeva-5704849.jpg" alt="" class="img12">
                                <div class="text-testimonila">
                                    <h3 class="name">Cameron Williamson</h3>
                                    <span class="job-testimonila">Designer</span>
                                </div>
                            </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                            dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit, 
                            amet consectetur adipisicing elit. Sapiente, veritatis?</p>
                            
                        </div>
                        <div class="item-testimonial">
                            <div class="rating-testimonila">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                            <div class="info-testimonail">
                                <img src="../assets/testimonial/pexels-darina-belonogova-7897404.jpg" alt="" class="img12">
                                
                                    <div class="text-testimonila">
                                        <h3 class="name-testimonila">Cameron Williamson</h3>
                                        <span class="job-testimonila">Designer</span>
                                    </div>
                                </div>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                                dicta aperiam exercitationem fuga corporis porro, Lorem ipsum dolor sit amet, consectetur
                                 adipisicing elit. Dolorum, beatae.</p>
                                
                            
                                </div>
                        <div class="item-testimonial">
                            <div class="rating-testimonila">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>
                                <div class="info-testimonail">
                                    <img src="../assets/testimonial/pexels-enginakyurt-1642228.jpg" alt="" class="img12">
                                    <div class="text">
                                        <h3 class="name-testimonila">Cameron Williamson</h3>
                                        <span class="job-testimonila">Designer</span>
                                    </div>
                                </div>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Excepturi facere corrupti reprehenderit tempore, laboriosam dolorem unde, 
                                dicta aperiam exercitationem fuga corporis porro,Lorem ipsum dolor sit amet 
                                consectetur, adipisicing elit. A, sapiente.</p>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
           
         </section> 
                    <!-- end reviews -->


             <section>
                <div class="galerie">
                    <div class="titre-test">
                            <h2>G de clients satisfaitsalerie</h2>
                    </div>
                    <div class="galerie-testimonial">
                        <div class="item-galerie media-item" >
                            <div class="opacity">
                                <img src="../assets/testimonial/Frame 18.png" alt="">
                            </div>
                            
                            <div class="img55-testimonil">
                                <img src="../assets/testimonial/pexels-iriser-1800456.jpg" alt="" class="img99-testimonil">
                            </div>
                            <div class="para2-testimonila">
                                       <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Ad, soluta quia. Eius tempora 
                                         ex voluptatibus <br> illo? Dignissimos atque laudantium obcaecati.</p>
                            </div>
                            <div class="info2-testimonial">
                                <h4>simon arpad</h4>
                                <span>Global accountability </span>

                            </div>
                            <div class="Vector1">
                                <img src="../assets/testimonial/Vector.png" alt="">
                            </div>

                        </div>
                    
                        <div class="item-galerie media-item">
                            <div class="opacity">
                                <img src="../assets/testimonial/Frame 18.png" alt="">
                            </div>
                            
                           
                                <div class="blue-testimonial">
                                    <div class="img55-testimoial">
                                        <img src="../assets/testimonial/pexels-alipazani-2787341.jpg" alt="" class="img99-testimonil">
                                    </div>
                              <div class="devant-testimonila">
                                <div class="etoil-testimonial">
                                    <img src="../assets/testimonial/icons8-etoile-50 (1).png" alt="" class="etoil1-testimonila">
                                    <img src="../assets/testimonial/icons8-etoile-50 (1).png" alt="" class="etoil1-testimonila">
                                    <img src="../assets/testimonial/icons8-etoile-50 (1).png" alt="" class="etoil1-testimonila">
                                    <img src="../assets/testimonial/icons8-etoile-50 (1).png" alt="" class="etoil1-testimonila">
                                    <img src="../assets/testimonial/icons8-etoile-50 (1).png" alt="" class="etoil1-testimonila">

                                </div>
                                <div class="para2-testimonila">
                                    <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Ad, soluta quia. Eius tempora
                                      ex voluptatibus <br> illo? Dignissimos atque laudantium obcaecati.</p>
                         </div>
                         <div class="info2-testimonial">
                             <h4>simon arpad</h4>
                             <span>Global accountability </span>

                         </div>
                              </div>
                            </div>
                        </div>
                        <div class="item-galerie">
                            <div class="item-test">
                                <div class="opacity ">
                                    <img src="../assets/testimonial/Frame 18.png" alt="">
                                </div>
                                <div class="Vector">
                                    <img src="../assets/testimonial/Vector.png" alt="">
                                </div>
                            </div>
                            <div class="media-ok">
                                
                                <div class="para2-testimonila">
                                    <p>Lorem ipsum, dolor sit amet consectetur <br> adipisicing elit. Ad, soluta quia. Eius tempora
                                      ex voluptatibus <br> illo? Dignissimos atque laudantium obcaecati.</p>
                         </div>
                         <div class="img55-testimoial">
                            <img src="../assets/testimonial/pexels-amie-roussel-1990939723-28965893.jpg" alt="" >
                        </div>
                         
                            
                            </div>
                            <div class="info2-testimonial info3-testimonila">
                                <h4>simon arpad</h4>
                                <span>Global accountability </span>
       
                            </div>

                        </div>

                    </div>

                 </div>
             </section>
               
             <section>

                   <div class="input-testimonial">
                    <div class="titre-testimonial">
                        <h2>Soumettre un témoignage</h2>
                    </div>

                    <div class="form-testimonial">
                        <div>
                            <img src="../assets/testimonial/istockphoto-585794638-612x612.jpg" alt="">
                        </div>
                        <div class="form1-testimonial">
                            <form>
                              <div class="form-1testimonial">
                                <div>
                                    <input type="text" placeholder="First Name">

                                </div>
                              <div>
                                <input type="text" placeholder="Last Name">
                              </div>
                       
                              </div>

                             <div class="email-testimonila">
                                <input type="email" placeholder="Email" class="email-testimonila">
                                <textarea placeholder="Message" class="textera-testimonila"></textarea>
                             </div>
                               <button type="submit" class="btn-testimonila">Soumettre</button>
                            </form>
                        </div>

                            
                    </div>
                   </div>
             </section>


             <!-- footer-->

             <footer>
                <div class="footerContainer">
                    <div class="left">
                        <p class="Logo">
                            ImmoView
                        </p>
                        <p class="LogoDescription">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                    <div class="right">
                        <div class="linksContainer">
                            <p class="title">Company</p>
                            <p>
                                <a href="">About Us</a>
                            </p>
                            <p>
                               <a href=""> Blog</a>
                            </p>
                            <p>
                               <a href=""> FAQs</a>
                            </p>
                            <p>
                               <a href=""> Press</a>
                            </p>
                        </div>
                        
                        <div class="linksContainer">
                            <p class="title">Support</p>
                            <p>
                                <a href="">Help</a>
                            </p>
                            <p>
                               <a href=""> Contact</a>
                            </p>
                            <p>
                               <a href=""> Chat</a>
                            </p>
                            <p>
                               <a href=""> Terms</a>
                            </p>
                        </div>
                        <div class="linksContainer">
                            <p class="title">Products</p>
                            <p>
                                <a href=""> Features</a>
                            </p>
                            <p>
                               <a href=""> Pricing</a>
                            </p>
                            <p>
                               <a href=""> Integrations</a>
                            </p>
                            <p>
                               <a href=""> Demo</a>
                            </p>
                        </div>
                        <div class="linksContainer">
                            <p class="title">Social</p>
                            <p>
                                <a href="">LinkedIn</a>
                            </p>
                            <p>
                               <a href=""> Facebook</a>
                            </p>
                            <p>
                               <a href=""> Twitter</a>
                            </p>
                            <p>
                               <a href=""> Intagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="Copyright">© All Rights are reserved</p>
            </footer>
</body>
</html>