<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/testimonial.css">
    <link rel="icon" href="path/to/your/favicon.ico" type="image/x-icon">
    <title>Témoignages</title>
    <!-- font family poppins -->
   
</head>
<body>
     <!-- start header-->
                   
     <header>
        <div class="navbar">
            <div class="logo"> <a href="#"> <img src="../assets/testimonial/Blue_and_White_Real_Estate_Logo-removebg-preview.png" alt=""> </a></div>
            <ul class="link">

               <li><a href="#">Home</a></li>
               <li><a href="#">Catalog</a></li>
               <li><a href="#">Testimonials</a></li>
               <li><a href="#">Contact us</a></li>
            </ul>
            <i class="fa-solid fa-bars"></i>
        </div>
     </header>




          <!-- end  header-->



          <!-- start reviews -->
       <section id="media">
            <div class="testemonial">
                <h3>Découvrez le Potentiel Inexploré du Marché Immobilier : <br>
                    Tendances et Opportunités</h3>

            </div>
            <!--testemonial box -->
            <div class="testemonial-box">
                <!-- box 1-->
                 <div class="box">

                 </div>
                 <!-- top -->
                  <div class="top">

                  </div>
                  <!-- profile -->
                   <div class="profile">
                      <div class="profile-img">
                      </div>
                      <div class="name">
                        <strong>Cameron Williamson</strong>
                        <span>Designer</span>

                      </div>

                   </div>
                   <!-- reviews-->
                    <div class="reviews">
                        <img src="../assets/testimonial/Vector.png" alt="">
                    </div>
            </div>

         </section> 
                    <!-- end reviews -->


</body>
</html>